p > * {
  background-color: transparent !important;
}
.pro-card {
  overflow: hidden;
  .pro-img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
  }
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  top: 20px;
  background-attachment: fixed;
  position: fixed;
  width: 100vw;
  opacity: 0.1;
}
a {
  text-decoration: none;
}
