@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap");
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.css";

*,
*::before,
*::after {
  font-family: "Kaisei Tokumin", serif;
}

body {
  min-height: 100vh;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.action-button {
  font-size: 20px;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

ol,
ul {
  padding-left: 0;
}
